{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"func-style": "warn",
	},

	"overrides": [
		{
			"files": "test/**/*.jsx",
			"extends": [
				"plugin:react/recommended",
				"@ljharb/eslint-config/esm",
				"@ljharb/eslint-config/tests",
			],
			"parserOptions": {
				"ecmaFeatures": {
					"jsx": true,
				},
			},
			"rules": {
				"dot-notation": [2, { "allowKeywords": false }],
			},
			"settings": {
				"react": {
					"version": "detect",
				},
			},
		},
	],
}
